<div class="container flex-column d-flex justify-content-center align-items-center bg-light ">
    <h2>RANDOM QUOTES</h2>
    <div class="myQuote bg-dark">
        <p>{{quote.quote}}</p>
        <hr>
        <span>author: {{quote.author}}</span>
    </div>
    <br>
    <button class="btn bg-dark text-white" (click)="reload()">Generate Random Quote</button>

</div>
<footer class="bg-dark text-white text-center">
    <h6> coded by > <a href="https://github.com/devjamesnjoroge">Devjaymmy </a>. Challenge by > <a href="https://moringaschool.com">Moringa.</a></h6>
</footer>